@model Homework1.Models.AccModels.RegisterModel

@{
    ViewData["Title"] = "Register";
}

<h2>Регистритај се</h2>
<br />


<form method="post">
    <div class="row">
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="Email" type="email" class="form-control" placeholder="name@example.com">
                <label asp-for="Email">Емаил</label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="PhoneNumber"/>
                <label asp-for="PhoneNumber">Телефонски број</label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <select asp-for="Role" asp-items="@ViewBag.Roles" class="form-select">
                    <option value="">-- Избери --</option>
                </select>
                <label asp-for="Role"></label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                <label asp-for="Name">Корисничко име</label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="Address" type="text" class="form-control" placeholder="Adress">
                <label asp-for="Address">Адреса</label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <select asp-for="ClientTypeId" asp-items="@ViewBag.ClientTypes" class="form-select">
                    <option value="">-- Избери --</option>
                </select>
                <label asp-for="ClientTypeId">Тип на клиент</label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="IdNo" type="text" class="form-control" placeholder="IdNo">
                <label asp-for="IdNo">Број</label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <select asp-for="CityId" asp-items="@ViewBag.Cities" class="form-select">
                    <option value="">-- Избери --</option>
                </select>
                <label asp-for="CityId">Град</label>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <select asp-for="CountryId" asp-items="@ViewBag.Countries" class="form-select">
                    <option value="">-- Избери --</option>
                </select>
                <label asp-for="CountryId">Држава</label>
            </div>
        </div>
         <div class="col-md-3 col-6 DateOfEstablishment d-none">
            <div class="form-floating mb-3">
                <input asp-for="DateOfEstablishment" type="date" class="form-control" placeholder="DateOfEstablishment">
                <label asp-for="DateOfEstablishment">Датум на основање</label>
            </div>
        </div>
        <div class="col-md-3 col-6 NumberOfEmployees d-none">
            <div class="form-floating mb-3">
                <input asp-for="NumberOfEmployees" type="number" class="form-control" placeholder="NumberOfEmployees">
                <label asp-for="NumberOfEmployees">Број на вработени</label>
            </div>
        </div>
        <div class="col-md-3 col-6 Activities d-none">
            <div class="form-floating mb-3">
                <select asp-for="Activities" asp-items="@ViewBag.Activities" class="form-select">
                    <option value="">-- Избери --</option>
                </select>
                <label asp-for="Activities">Активности</label>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Поднеси</button>

    @Html.ValidationSummary()
</form>

<p class="col-12 text-center text-danger">@Html.ValidationMessage("Error")</p>
<h4 class="col-12 text-center text-success">@Html.ValidationMessage("Success")</h4>


    

